.hide-html{
   display: none;
}
body .intro {
    background-image: url('/images/pokemon-unite-pokemon-hd-wallpaper-1920x1080-uhdpaper.com-830.1_a.jpg');
    background-size: cover;
    width:100%;
    height:580px;
    margin: 0;
    padding: 0;
}

.intro{

    display: flex;
	justify-content: center;
	flex-direction: column;
	height: 400px;
    text-align: center;
    margin-top: 60px;
    
}
.intro p {
    width: 40%;
    color: white;
   margin-left: auto;
   margin-right: auto;
   font-size: 25px;
}

h1{
    
    display: flex;
	justify-content: center;
	flex-direction: column;
	 text-align: center;
     align-items: center;
    font-size: 56px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffcc03;
    
   
}
#game-board {
    float: left;
    padding: 0px ;
    margin: 0px;
}
img{
    width: 100px;
}
